.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.navbar__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 8px;
}

.navbar__input.input {
    width: 80%;
}

.navbar__logo {
    font-family: Brush Script MT;
    font-size: calc(20px + 16 * ((100vw - 375px) / (1080 - 375)));
    color: #b22222;
    text-align: center;
    align-self: center;
    text-decoration: none;
}

@media screen and (min-width: 1080px) {
    .navbar__logo {
        font-size: 40px;
    }
    .sm-item {
        height: 28px;
        font-size: 16px;
    }
}

.navbar__auth {
    display: flex;
}

.social-media {
    display: flex;
    padding: 4px 0;
}

.sm-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    margin: auto 0px auto auto;
    flex-wrap: wrap;
}

@function smItemFontSize($height) {
    @return calc($height - 12px)
}

.sm-item {
    $smItemHeight: calc(22px + 6 * ((100vw - 375px) / (1080 - 375)));
    display: inline-block;
    height: $smItemHeight;
    font-size: smItemFontSize($smItemHeight);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    line-height: calc($smItemHeight);
}

.sm-item:not(:last-child) {
    margin: 0 8px 0px 0
}
