.random-recipe {
    height: 300px;
    width: 100%;
    position: relative;
}

.rr-img {
    height: 300px;
    width: 300px;
    position: absolute;
    left: calc((100% - (300px + 45% - 20px)) / 2);
}

.rr-img img {
    height: 300px;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.rr-description {
    border-radius: 10px;
    z-index: 1;
    background-color: #fea787;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rr-description {
    height: 200px;
    width: 45%;
    position: absolute;
    bottom: 50%;
    margin-bottom: -100px;
    justify-content: space-between;
    padding: 30px;
    right: calc((100% - (300px + 45% - 20px)) / 2);
    text-align: center;
}

.rr-description .title {
    color: rgb(34, 33, 33);
    font-weight: bold;
}

@media (max-width: 768px) {
    .random-recipe {
        height: 200px;
    }
    .rr-img {
        height: 200px;
        width: 200px;
        left: calc((100% - (200px + 60% - 30px)) / 2);
    }
    .rr-img img {
        height: 100%;
        width: 100%;
    }
    .rr-description {
        height: 150px;
        width: 60%;
        margin-bottom: -75px;
        right: calc((100% - (200px + 60% - 30px)) / 2);
        padding: 20px;
    }
    .rr-description .title {
        font-size: 18px;
    }
}

.rr-description div {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

.rr-description button {
    background-color: crimson;
    border: none;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 4px;
}

@media (max-width: 426px) {
    .random-recipe {
        height: auto;
        position: static;
    }
    .rr-img {
        height: 300px;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        position: relative;
    }
    .rr-img img {
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .rr-description {
        position: relative;
        height: 150px;
        width: 300px;
        left: 50%;
        margin: 0 0 0 -150px;
        padding: 20px;
        border-radius: 0 0 10px 10px;
    }
    .rr-description .title {
        font-size: 16px;
    }
}