.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    color: rgb(217, 54, 86);
    margin: 8px auto;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto 80px;
    margin: 40px auto;
}

.categories-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 160px);
}

.category {
    // border: 1px solid black;
    width: 120px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.img {
    height: 110px;
    width: auto;
}

.img img {
    object-fit: cover;
    height: 110px;
    width: 110px;
    border-radius: 50%;
}