.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    color: rgb(217, 54, 86);
    margin: 8px auto;
}

.categories-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.category {
    width: 120px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.img {
    height: 110px;
    width: auto;
}

.img img {
    object-fit: cover;
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

.categories-carousel button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    background: no-repeat url('../img/arrow.png') center;
    background-size: 60px;
}

.categories-carousel button:hover {
    background-color: rgb(244, 236, 236);
}

.categories-carousel button:first-child {
    transform: rotate(180deg);
}

.categories-carousel button:disabled {
    opacity: 0.25;
}