.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0px;
    background: white;
    z-index: 9999;
    border-bottom: 1px solid rgb(254, 167, 135);
}

.search-input-container {
    width: calc((100% - 160px) / 3);
    margin-left: 80px;
}

.header-title {
    font-family: Brush Script MT;
    font-size: 40px;
    color: firebrick;
    text-align: center;
    align-self: center;
    width: calc((100% - 160px) / 3);
    
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 80px;
    width: calc((100% - 160px) / 3);
}

.sm-item {
    display: inline-block;
    height: 28px;
    width: 28px;
    margin: auto 4px;
    border-radius: 14px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}
