.home._container {
    box-shadow: 2px 0px 8px rgb(152, 143, 123);
}

@media screen and (max-width: 425px) {
    .banner {
        height: 200px;
    }
    .banner img {
        height: 100%;
        object-fit: cover;
    }
}