.latest-recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px -20px -40px -20px;
}

.latest-recipe__container {
    padding: 0px 20px;
    flex: 0 1 25%;
}

@media (max-width: 810px) {
    .latest-recipe__container {
        flex: 0 1 50%;
    }
}

@media (max-width: 452px) {
    .latest-recipe__container {
        flex: 0 1 100%;
    }
}

.latest-recipe {
    background: linear-gradient(rgba(244, 236, 236, 0), rgb(244, 236, 236));
    margin: 0px 0px 40px 0px;
}

.latest-recipe:not(:last-child) {
    margin: 0px 40px 40px 0px;
}

.img-container {
    width: 100%;
    aspect-ratio: 1/1;
}

.img-container img {
    object-fit: cover;
    border-radius: 10px 10px  0 0;
    width: 100%;
    aspect-ratio: 1/1;
}

.lr-title {
    color: rgb(217, 54, 86);
    font-weight: bold;
    border-radius: 10px;
    width: 60%;
    aspect-ratio: 3/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: white;
    box-shadow: 0px 2px 3px grey;
    margin: -10% auto 0px auto;
    position: relative;
}

.description {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-inline: 8px;
    margin-top: 8px;
}

.link {
    text-decoration: none;
}