.popular-recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.popular-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 -20px 0 -20px;
}

.popular-recipe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
    padding: 0 20px 40px 20px;
}

.pr-img {
    height: 120px;
    aspect-ratio: 1/1;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .popular-recipes {
        display: flex;
        flex-wrap: wrap;
    }
    .popular-recipe {
        flex: 1 1 100%;
    }
    .pr-img {
        height: 140px;
    }
    .descr-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (max-width: 425px) {
    .pr-img {
        height: 100px;
    }
}

.pr-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}

.descr-container {
    padding-left: 30px;
}

.pr-title {
    font-weight: bold;
}

