.advanced-search {
    width: 100%;
    margin: 0 auto;
}

.separator-container {
    width: 100%;
    position: relative;
}

.h-line {
    border-top: 2px solid #aaa;
    margin: 16px 0;
}

.separator-title {
    background-color: white;
    // width: 15%;
    width: calc(162px);
    text-align: center;
    position: absolute;
    top: -12px;
    left: 50%;
    // margin-left: -7.5%;
    margin-left: -81px;
    color: #888;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advanced-search .field {
    font-size: 14px;
    height: 40px;
    width: 175px;
}

.advanced-search .select-field {
    background-color: white;
    border: 1px solid #888;
    margin-bottom: 16px;
}

.advanced-search .btn {
    border-radius: 0;
}

.advanced-search .more-btn {
    background-color: rgb(254, 167, 135);
    border: 1px solid rgb(254, 167, 135);
    margin: 0 15px;
}

.advanced-search .submit-btn {
    background-color: crimson;
    border: 1px solid crimson;
    color: white;
}

@media screen and (max-width: 1024px) {
    .advanced-search .more-btn {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .advanced-search .search-params {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

/*-----------details-----------*/
.details {
    width: 100%;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
}

.ingredients .type {
    display: flex;
    flex-direction: column;
    width: 310px;
}

.ingredients .type:not(:last-child) {
    margin: 0 40px 0 0;
}

@media screen and (max-width: 375px) {
    .ingredients .type {
        width: 100%;
    }
    .ingredients .type:not(:last-child) {
        margin: 0;
    }
}
.ingredients .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4px;
}

.ingredients .tags .tag {
    border: 1px solid rgb(39, 180, 39);
    border-radius: 4px;
    background-color: rgb(39, 180, 39);
    color: white;
    margin: 4px 0;
    padding: 4px;
    font-size: 14px;
    line-height: 14px;
}
.ingredients .exclude .tags .tag {
    border: 1px solid rgb(180, 39, 39);
    background-color: rgb(180, 39, 39);
}

.ingredients .tags .tag:not(:last-child) {
    margin-right: 4px;
}

.ingredients .tags .tag .remove {
    border: none;
    background-color: rgb(39, 180, 39);
    color: white;
    font-size: 10px;
    padding: 0;
    margin-left: 6px;
}
.ingredients .exclude .tags .tag .remove {
    background-color: rgb(180, 39, 39);
}

.ingredients .title {
    color: black;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 0;
}

.ingredients .input-field {
    min-height: 40px;
    width: 100%;
    font-size: 14px;
    border: none;
    padding: 0 64px 0 4px;
}

.ingredients .input-field:focus {
    outline: none;
}

.reset-btn {
    text-align: left;
    color: #888;
    padding: 0 4px;
}

.ingredients .circuit {
    border: 1px solid #888;
    position: relative;
    margin: 8px 0;
    width: 310px;
    min-height: 40px;
}

.ingredients .circuit .add {
    height: 40px;
    width: 60px;
    border: none;
    font-size: 24px;
    background-color: #aaaaaa00;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-right: 18px;
}

@media screen and (max-width: 375px) {
    .ingredients .circuit {
        width: 100%;
    }
}

.ingredients .circuit .add:hover {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgb(39, 180, 39);
    background-color: rgb(39, 180, 39);
    color: white;
}
.ingredients .exclude .circuit .add:hover {
    border: 1px solid rgb(180, 39, 39);
    background-color: rgb(180, 39, 39);
}